body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: monospace, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    position: absolute;
    top: 20px;
    text-align: center;
    font-weight: bolder;
}

canvas {
    border: 2px solid black;
    width: 80vw;
    height: 80vh;
}
